*{
    margin: 0;
    padding: 0;
}
.secondary_menu {
    height: 35px;
    float:left;
line-height: 35px;
    margin-bottom: 0;}

.secondary_menu li {
    position:relative;
    display:inline-block;
    margin-right:5px;
    margin-left: 5px;
    padding-right:12px;
}
.secondary_menu li:before {
    content: '';
    position:absolute;
    right:0;
    top:7px;
    height:15px;
    border-right:1px dotted #999;
}
.secondary_menu li:last-child:before {display:none;}
.secondary_menu li a {
    display:block;
    text-transform:uppercase;
    font-size:11px;
    color:#333;
}
.secondary_menu li a:hover {color: #0016ff;}
.phone-top{
    float: right;
    height: 35px;
    line-height: 35px;
    margin-right: 50px;
    color: red;
    font-weight: bold;
}